* {
  outline: 1px solid red;
}
#div1 {
  background-color: antiquewhite;

  text-align: center;

  width: 100px;
  height: 200px;

  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;

  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

#div2 {
  background-color: aqua;
  
  width: 150px;
  height: 250px;

  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;

  margin-top: 20px;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 20px;
}

#div3 {
  background-color: blueviolet;
  
  width: 500px;
  height: 500px;

  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 25px;

  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}
#div4 {
  background-color: chartreuse;
  
  width: 200px;
  height: 220px;

  padding-left: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 7px;

  margin-top: 3px;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
}
#div5 {
  background-color: crimson;
  
  width: 150px;
  height: 100px;

  padding-left: 11px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 11px;

  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
}
#div6 {
  background-color: darkslategray;
  
  width: 214px;
  height: 214px;

  padding-left: 3px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 3px;

  margin-top: 3px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 3px;
}
#div7 {
  background-color: hotpink;
  
  width: 340px;
  height: 235px;

  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;

  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}
#div8 {
  background-color: indigo;
  
  width: 120px;
  height: 120px;

  padding-left: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 8px;

  margin-top: 8px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 8px;
}
